* {
	outline: 1px solid orange;
}

body {
	background-color: hsl(216, 12%, 8%);
	font-family: 'Overpass', sans-serif;
}

h1 {
	font-size: 28px;
	font-weight: 700;
	color: hsl(0, 0%, 100%, 90%);
}

p {
	font-size: 15px;
	font-weight: 400;
	color: hsl(217, 12%, 63%, 75%);
}

button {
	border: hsl(216, 12%, 8%);
	color: hsl(217, 12%, 63%, 75%);
}

#thank-you-card {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.center-text {
	text-align: center;
}

.main {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.card-container {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	padding: 32px;
	width: 411px;
	height: 415px;
	border-radius: 32px;
	background: linear-gradient(136.75deg, #1e252f 19.14%, #171e28 86.32%);
}

.button-row {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.circle {
	height: 48px;
	width: 48px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.rating-btn:hover {
	color: hsl(0, 0%, 100%, 90%);
	background-color: hsla(27, 98%, 52%, 1);
}

.default {
	color: hsl(0, 0%, 100%, 90%);
	background-color: #262f38;
}

.active {
	color: hsl(0, 0%, 100%, 90%);
	background-color: hsl(217, 12%, 63%);
}

.submit-btn {
	width: 341px;
	height: 45px;
	border-radius: 22px;
	text-transform: uppercase;
	color: hsl(0, 0%, 100%, 90%);
	background-color: hsla(27, 98%, 52%, 1);
}

.rounded-div {
	width: 200px;
	height: 30px;
	border-radius: 22px;
	background-color: #262f38;
	display: flex;
	justify-content: center;
}

.rounded-div-text {
	color: hsla(27, 98%, 52%, 1);
	align-self: center;
	margin: auto;
}

.submit:hover {
	color: hsla(27, 98%, 52%, 1);
	background-color: hsl(0, 0%, 100%, 90%);
}
